@model Libya.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";

}



<!doctype html>
<html lang="en">
<head>
    <title>Kayıt Ol</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/login/css/style.css" rel="stylesheet" />


</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="img" style="background-image: url('../../login/images/giris.jpg');">
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Yeni bir hesap oluşturun.</h3>
                                </div>

                            </div>

                            <section id="loginForm">
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                 
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-12">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-8 control-label" })
                                        <div class="col-md-12">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-12">
                                            <input type="submit" class="form-control btn btn-primary rounded submit px-3" value="Kaydol" />
                                        </div>
                                    </div>
                                }
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/login/js/jquery.min.js"></script>
    <script src="~/login/js/popper.js"></script>
    <script src="~/login/js/bootstrap.min.js"></script>
    <script src="~/login/js/main.js"></script>


</body>
</html>


