@model Libya.Models.Etnik

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        #sayfa {
            background: #eeeeee;
            text-align: center;
            max-width: 600px;
            height: 650px;
            line-height: 30px;
            font-family: Tahoma;
            border-radius: 7px;
        }

        dt {
            background-color: lightblue;
        }

        button {
            width: 200px;
        }

        #hakkinda {
            text-align: justify;
        }
    </style>
</head>
<br />
<br />
<br />
<br />
<div class="container" id="sayfa">
    <br />
    <h2 style="color:#e40;">Etnik Yapı Detayları</h2>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.etnikKok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etnikKok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eysehiri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eysehiri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ehakkinda)
        </dt>

        <dd id="hakkinda">
            @Html.DisplayFor(model => model.ehakkinda)
        </dd>
    </dl>
    <button class="btn btn-info">
        @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id })
    </button>
    <button class="btn btn-warning">
        @Html.ActionLink("Listeye Geri Dön", "Index")

    </button>

</div>
<br />
<br />


