@model Libya.Models.Sehirler

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Şehir Ekle</h2>
<head>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        body {
            background: #eeeeee;
        }

        button {
            background-color: lightsalmon;
            width: 200px;
            border-radius: 5px;
            clear: both;
            color: white;
        }
        #kutu{
            width:100%;
            line-height:35px;
        }
    </style>
</head>
<br /><br /><br />
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <!------ Include the above in your HEAD tag ---------->

        
        <div class="container" >
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 pb-5">


                    <!--Form with header-->


                    <div class="card border-primary rounded-0" id="kutu">
                        <div class="card-header p-0">
                            <div class="bg-info text-white text-center py-2">
                                <h3><i class="bi bi-ui-checks"></i> Yeni Şehir Ekle</h3>
                                <p class="m-0">Aşağıdaki Alanları Doldurunuz.</p>
                            </div>
                        </div>
                        <div class="card-body p-3">

                            <!--Body-->
                            <div class="form-group">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.sıra, htmlAttributes: new { @class = "control-label col-md-8" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.sıra, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.sıra, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.telefonKodu, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.telefonKodu, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.telefonKodu, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.sehirAdı, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.sehirAdı, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.sehirAdı, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.nufus, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.nufus, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.nufus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.yuzolcum, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.yuzolcum, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.yuzolcum, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.bölge, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.bölge, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.bölge, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12 text-center">
                                    <input type="submit" value="Yeni Şehir Ekle" class="btn btn-primary" />
                                    <button class="btn btn-warning">
                                        @Html.ActionLink("Listeye Geri Dön", "Index")
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</body>



