@model Libya.Models.Sehirler

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        #sayfa {
            background: #eeeeee;
            text-align: center;
            max-width: 600px;
            height: 550px;
            line-height: 30px;
            font-family: Tahoma;
            border-radius:7px;
        }
        dt {
            background-color: lightblue;
        }

        button,input {
            width: 200px;
        }
    </style>
</head>
<br /><br /><br /><br />
<div class="container" id="sayfa">
    <h2 style="color:#e40;">Şehir Sil</h2>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sıra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sıra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonKodu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonKodu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sehirAdı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sehirAdı)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nufus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nufus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yuzolcum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yuzolcum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bölge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bölge)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Sil" class="btn btn-danger" />
        <button class="btn btn-info">@Html.ActionLink("Listeye Geri Dön", "Index")</button>
    </div>
       
    }
</div><br /><br />
